<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996136419565-9fri3hktatklj887ldik6ps7djujvlm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996136419565-9fri3hktatklj887ldik6ps7djujvlm6</string>
	<key>API_KEY</key>
	<string>AIzaSyDutHCGT4Tllgd3Bihsl32TxrGKrz0_IpY</string>
	<key>GCM_SENDER_ID</key>
	<string>996136419565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Apple.LoginApp</string>
	<key>PROJECT_ID</key>
	<string>loginapp-fe655</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-fe655.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996136419565:ios:220b937ddb5c22e7908ce4</string>
</dict>
</plist>